.header {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--controlls-bg);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  h1 {
    font-size: 1.875rem;
    font-weight: 550;
    color: white;
  }
}

.wrapper {
  display: flex;
  background-color: black;
}

.formContainer {
  flex: 1;
}

.imageContainer {
  background-image: url("/sign.png");
  background-size: cover;
  background-position: center;
  opacity: 0.83;
  width: 100%;
  flex: 1;
}
